<h1><%= @billboard.title %> - <%= @artist.name %></h1>
<br />
<%= link_to 'View Songs', artist_songs_path(@artist) %>
<br />
<%= link_to 'Edit Artist', edit_billboard_artist_path([@billboard, @aritst]) %>
<br />
<%= link_to 'Delete Artist', [@billboard, @artist], method: :delete %>
<br />
<%= link_to 'Back To Artists', billboard_artists_path(@billboard) %>