<h1><%= @billboard.title %></h1>
<hr />
<p>What would you like to do?</p>
<%= link_to 'View all Billboards', billboards_path %>
<br />
<%= link_to 'View Artists', billboard_artists_path(@billboard) %>
<br />
<%= link_to 'Edit Billboard', edit_billboard_path(@billboard) %>
<br />
<%= link_to 'Delete Billboard', @billboard, method: :delete %>
